/* build time:Fri Jul 07 2023 11:39:45 GMT+0800 (GMT+08:00)*/
#cheesy_pick-up_lines-container li{list-style-type:none;position:relative;padding-left:26px}#cheesy_pick-up_lines-container li:before{top:8px;left:2px;padding:5px;border:3px solid pink;border-radius:10px;content:"";position:absolute}
/* rebuild by neat */