/* build time:Thu Sep 08 2022 19:00:25 GMT+0800 (中国标准时间)*/
#article-container code{color:#fff;font-weight:700;background-color:#25ccf7;display:inline-block;border-radius:8px;line-height:24px;font-size:12px;padding:0 7px}
/* rebuild by neat */